.website-title-homepage {
	 padding-top: 100px;
 	 text-shadow: 0 1px 3px rgba(0,0,0,.5)
 	 }

.navbar {
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 30px;
}

.border-white
		{border: white;
}

img {
    width: 250px;
   }
.tabletitle {
	 	padding-top:180px;
   }
   
.text-center {
   text-align: center;
   }

#footer {
	border-top: 1px solid white;
	padding-top:20px;
}

.fontwhite {
	color: #FFFFFF;
}

.fontblack {
    color: #000000;
}

.background {
    background-color: #333;
}

.background1 /*Home*/ {
    background-image: url('https://live.staticflickr.com/65535/49757053958_4e3494ab8c_k.jpg');
    background-size: cover;
    background-position:center;
}

.background2 /*Post*/ {
    background-image: url('https://live.staticflickr.com/65535/49507062693_cf6859b641_m.jpg');
    background-size: cover;
    background-position:center;
}

.background3 /*India*/ {
    background-image: url('https://live.staticflickr.com/65535/49507570551_6cdc8257ef_b.jpg');
    background-size: cover;
    background-position:center;
}

.background4 /*Chicago*/ {
    background-image: url('https://live.staticflickr.com/65535/49507791297_944328c5ab_z.jpg');
    background-size: cover;
    background-position:center;
}

.background5 /*Hong Kong*/ {
    background-image: url('https://live.staticflickr.com/65535/49507570516_99db5fbdc1_z.jpg');
    background-size: cover;
    background-position:center;
}

.background6 /*Vietnam*/ {
    background-image: url('https://live.staticflickr.com/65535/49507570311_aa1022cb27_z.jpg');
    background-size: cover;
    background-position:center;
}

.background7 /*Thailand*/ {
    background-image: url('https://live.staticflickr.com/65535/49507062698_9d286f6ac7_c.jpg');
    background-size: cover;
    background-position:center;
}

.background8 /*Mexico City*/  {
    background-image: url('https://lh3.googleusercontent.com/N1hVlqLtPU0PkU-KrDRbk2c9NE4GDoxUJy8xAsU0SXkIeAzYKTI6HI81zx9WRVgc22ZtjBphNTJdxRU1_QkczMBBAEY24vhezzHCg_VfHe3OYA9XMdtrEm39YD0EnjXFHDMvFIVeoToXGmz_qytnFca7-Fos7vmPnYR-iW1esnI1Q712cPMmObhwDteFeb6-hFjXQ6DQ1emprPGqA3nBmpPVtfyLw8AkcRmG2blJvzp_D5VVYRJQY99q-5aPfGzZQ_eEi_etNGvxHJZkBd6U3uhw_EdBUXJbmKe8TOKFppXuY8RpHSO8nPhCYvC3gfbuP3Bvl78UcZpMBGt_evtFTjoYRnXV_p9x49X4T0RxuGlUh_GCcXH26L71OgNDGlQ07-MgrZ1bG-aR1txSxM6w6Gu58t6Nq6lSbUkJbKIpqm4j4vCeiogzIsP0w57Y4ZNjht5oGqzTdwmIHlcX6azpjOTnpodPfOpbOLKpS25UDIhxA1wWLRQoFk7xIMYRUjyNkJ-w6PSjPidAF9RPtigbPVTwLm9tJvWnWFRbZq8lRrUP_FjS0OY_y4pY0bk5DtJ39u8cN6PSqS5nRglhOGQKmGWvK-3IH3TdlIEC9ctUr82i0KDtbX-k--blQSfn3uHVIcREnH1Y_vKMSnv1bMMRJd7QfUghJlFzsAbn80ZgxhENFPmvwj-e6w=w1157-h867-no');
    background-size: cover;
    background-position:center;
}

.background9 /*Costa Rica*/ { 
    background-image: url('https://i.ibb.co/3mRqDFk/P1030865.jpg');
    background-size: cover;
    background-position:center;
}

.background11 /*Mexico*/ { 
    background-image: url('https://live.staticflickr.com/65535/49689062912_d6298c1493_k.jpg');
    background-size: cover;
    background-position:center;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#content {
    padding-top: 100;
    text-align: center;
    position: center;
}

.logo { 
	padding: 5px;
	float: left; 
} 

.logo img { 
	display: block; 
	width:auto; 
	max-width:20%; 
}

.img-bottompadding{
	padding-bottom: 20px;
}

.toppadding {
	padding-top: 10px;
}

.language {
    padding-top:210px;
    padding-left:1200px;
}

.card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card {
    margin-top: 20px;
    background-color: #F0F8FF;
    margin-left: 100px;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-style: solid;
    border-color: #D8D8D8;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 2px;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
}

.card-heading {
    padding: 0px 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}

.rotateimg180 {
   transform: rotate(90deg);