.website-title-homepage {
	 padding-top: 100px;
 	 text-shadow: 0 1px 3px rgba(0,0,0,.5)
 	 }

.navbar {
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 30px;
}

.border-white
		{border: white;
}

img {
    width: 250px;
   }
.tabletitle {
	 	padding-top:180px;
   }
   
.text-center {
   text-align: center;
   }

#footer {
	border-top: 1px solid white;
	padding-top:20px;
}

.fontwhite {
	color: #FFFFFF;
}

.fontblack {
    color: #000000;
}

.background {
    background-color: #333;
}

.background1 /*Home*/ {
    background-image: url('https://lh3.googleusercontent.com/gR-5aM-36hKwvvkp6JyNwCAOAHC4tdNmMF5zyc9TLfW8Cucz7Mf7V8gL327MCL5BDvwZXow0xJ2Lj0dwO7RgTo2vQTxzeuzC5gv9s9X2rP9YEPg--h-l4nUxRMtt04Nr6oEqtALl2YNu1lTwbArrW5YWrxBn8CKCFp-_dG6fGr765fbMybT8vWZaMO8CtW8Rs0u8vOqBGWUBx3ZQmfBHw21m4xotFiheXZGcbDvDpj1HdmXb_WzozhOmoFZ-yEjctPV8Wl6a5NgIqsJUDZPRDeZwNwD8mBpZJUGatxn68ElobTp-xLfQ9O_9zQO0jAmfNvW-3Q9qvoiN_8DW0NOAOTmr2SZCN-Zjwl0RWIKuyMLrYMbFUYuIjKdNeeWhcMiCvuuPFXzvRLD0d-bMVOO1RceWZrbRBM3XwzU0l664ujqa_vFru_E4rkN5CKnxZq_I5jh323QLRaCubv7hey3uFo6W5x98IoYPzmkintObJP62T0MFvRPprsuwKYTrURrIXwuaKfmOKfYdgwUfC9k_WwX79FoHhzakT7La16czzoIyd_b9dsnk306nYoFiRhplHz4R18eI-GHiNgs3laf06J22a7-bExWbUZsRrJ2PbQ=w1416-h885-no');
    background-size: cover;
    background-position:center;
}

.background2 /*Post*/ {
    background-image: url('https://lh3.googleusercontent.com/o42Uq_Waul6UML4xEVF4Aheug9qfEk4HcP1sydP4bzIp50o0gwk4aWb1MIypcqjKpalfbsuUh7C2NttCQeyBYisPIt9ACOqdLtuE2Nyta0Lo_Nek3XTydkbAPThZIKaGpeiRuDa3fLbAGVExBar2zReboMcHttnv9jGd6lOGzAnSzTi2vm3EeJQWPd0x4XF_4-wzAVSG1AxjgCqiflGLg9uj_8izXuaff233nxcvJVTIdZwbAIxRcdMDM4uMIVjGk_PsQHzyuuMZAVpuEqvP3MoC6IbKXejytN7LSlkEM01ivmoDqc-x6pJ4mHD6vD9_OfOSsA3OGlbEWEORkChaZmVjc8O0si2arIMZXh_WnwaaQ51REhQgUSkIoP7kaJt8_RI5IRYWcrnhOltwWUrw4y7CLreOR57fCkPYhNCdRQkT_zyG4oAPeKyfqMMeJmTnp2RndfHPU0q6HNuS3SvpqFNLgkxa9YbM1jiY3SUKEJhr2TDMDTGshIfcucVqlOzPqosEK1x0-d50cSfzKHjmgNklVCrJ01iE8tA_PSPTzkTF3a1cbOpPo4npc2-9w2YcQxwFvjsua0Gvl9kujQqcPZN4h63fOoy-lV5uKEf5dQ=w615-h410-no');
    background-size: cover;
    background-position:center;
}

.background3 /*India*/ {
    background-image: url('https://lh3.googleusercontent.com/5n7MInHhOvXJXD8t3gW7ueVpHkZK9DIGR-xn6AjiC_acsjODX_8WpT2sv0Jvtv9ZQ27j99MUUM2-ZrEN19VM2JPbLQzdj2vglDlmiUhGvInSJDEieB8AB3LJWycaTW1gGs0E26XeKVZ4uLHvHtax_5rWNyDouJm6_ztbC1r7GI1E8jgyCbNN_ug4jC8-ULN9Ome7p7TeOcCN1Hqma9wRBEBy6bzRhAOzhwO155tKXCWiDc0SEA8UZTlImSf-t-0azj-1Ef6Fip2Nl_ZzMlk-L_bMzv_F1PyFWr8tYbmQgboxqZwue5jB9cbYI1GBcdehlQn26gdCJKBFMN-P6AjRa5VAlqrhOGedi4YftjTjq2AEhTnNgwPahGHpOWq51QkGbTgeut01_SbyfRCB7HkCxxseLAxFUpubXVDfIQv7HuitVUhRae0nqjXCqmm6CBj9KY_wMNkWtsqr4LjKJtJOQk8QdhOn9Dg7zmANREijdCAkOoPy7Pa_bmnmH7t1Bvi4knTvQMQ2203fEeKxcbCDe2ILG2CR2OMz6o9IQnmEm-OoLXAXZE_fZc3jSVk82lCw0-mHPnqGJcXo2aas9ATwAIrS4gen-SzLZ_26KpqihA=w1920-h768-no');
    background-size: cover;
    background-position:center;
}

.background4 /*Chicago*/ {
    background-image: url('https://lh3.googleusercontent.com/axTMdYRixix89YcMzUjMXCsXqK1QcJJmEKOng_yrBT-3Gp-LXVrA79qHjJ-52OuFcklEC3ttI7Do1u9GH5TvmY16m-iAEHnYYfKIYYSZCgDZvA3Tati7VnOD1pnOzl-JD4CxTyUjgwPRVfVjo3cAcF4uGthsS6GJB4QRCuD-R3OaesJnReGaEtPx668Be9fBHIOwTrcyHisvz6iW42u6PWfikXTKEwwml5yYsq3v4HCCxiDVs1naryvc_MlnA8_u8wejPU4uzcnATaylFk58BZ77qVLjWOAFjpE7wqHYVSeHZhmKj5Nd4S75Vu17ddxnjt_toqdIOwpTFIXzrjCvXtVLttG582_ZwRuwI2dgCridAmXnr7Fi72b9gSCAVkCJh4gtkxx29aWA9PCEHOzZCVVfDFHlFa_9sUayzFSxqtFZI1FiwyQOwn1ie5yiJ1vepfbgfU2CFOpqJ3-FgcQioXXkS2Gc84Sv-lUX8s2e3TaNdFGNLOPSw-MZ-v5Upj7MVzVulsWIscTzD76Zbd7CkBmxQqUzBhRz4BnyAT6QSLvuadVInRA9xBMTmkNVdUE7gpGZlbYRrl4NCFpzl5Iy79RnEdsMNxjoMp_tXhYHtg=w1416-h885-no');
    background-size: cover;
    background-position:center;
}

.background5 /*Hong Kong*/ {
    background-image: url('https://lh3.googleusercontent.com/J750lyzxU3K10yFRabhR7kLSuKL-cT2O907GwS1uoyZ3jAAyp_Q1J9Czy5XGiAjeOU28q-iYSy5oA6jEJYKDwAIdj4iXZHtGkSG8r5UOt7kor4xrE_i1AOEKGmaujP1Em6wPUdsXPek7DfeDwbgu76umoRUxr7r11MurjbsvJpSkaUGhmurigydyHqqyDE33IGbAAQXiR5Q3UOVPSANI7X2c7qtmkCEIalQdRKNJP2piU9AZ1el1TvNxVFPNSsnEQg-M6sdTbkHtKpxtZit_IlSQ1MdakESPB9N4h_LzNkUU4mNdRGizSjacMIzXyj5pI41H9_TLVs9DAkYNqPpfqNDcgrA2S-Kk2Em-pydGO08o8JrOLZ1u4gPJyho2JeoDk5ZE1XsmbRdUoe9PXLop-SEoACDJK2UssAN0VceqoxjanBTWzuvENoWrnYd2TgmgRj9xW70JgmHgTNykY95Zd53g1QY5U22d16znySE1U2IyTW4NQ5fvVM7Gx1_cZN1Y3q_TmVdpg0yM9YKhHGVZSdloN-dntG9YKO99Il2MVk3fJjPlIpSyX49iAQawhD37-TLnqBRgSoVrKyfWGt92zxzU6_xtVqIQvm33H7ODZw=w1416-h885-no');
    background-size: cover;
    background-position:center;
}

.background6 /*Vietnam*/ {
    background-image: url('https://lh3.googleusercontent.com/FS7t_PjwTmCU3HBhgC5fNGNQm_6aYS_IJR6V-lwpYLv1MK6bqYcTYTi_ui65Oh20TqefJB3lwBl1l64_2Tpy6ElpGgq61o2RU3eeuouuauW7KzS-nV0xVcAKrG2Tly2z-_o90KwE1ndJ485PxjrS2NLLx94PH1I25jNGalwL9NfG9styF0dXq8RcqX3V8vufReq5m7cKXE06DnWMLITsbTWrcrlHnPcrcva8ec0c3h6MQsZUmN9ImtkjCoWo14DyMNC7BG_E07wTLQrObgk5M0KbSdt1BT3-eD5wg2zU6FviX3uQ9Jdp8a2oOvE8CVqgmw7ND7L0QT-ZCOieQcpnlQnD6mf26ZMDkMk51H-_87BCi3-5cApEz7He5vMghfVetBoWkN_BefQvoSmB3CQts4zOqlAfno-hGesfhXon7eRSxK_7HZrdFYNKWobJVegS7mkp20QRl4X7f1qqGbESmu3Z5OO7ZGgDxieWhXAGmMX4YS_FgA6HjYghvn1koetPFdlqe83JynOPI-iNlX5UI1kMZdcrs2pgmBi1HM7YEYlrOLcdxckJMDGef05odRZNZ1Wwpy-R3utxKaDGkCP6JmN73aGgdzbmM5osP6wBnA=w1181-h885-no');
    background-size: cover;
    background-position:center;
}

.background7 /*Thailand*/ {
    background-image: url('https://lh3.googleusercontent.com/y9txDeUOZ_p2oUF96Lo9-yeuI0t89ZHlAvoZbr57CCbv2Za450w9DqSFD-0YomyyKzm1KfuWELOyD5gpnjxX7lx1H0TFvwiC6n-BUFiQa59-JgFqt5Y1FyVj1J992ertXQjs3BRxxndrM9mdqko_JsqsE0nQUCBc_ZJDGDnNc3f3-xRQwWvwjkDDfSPWHj45Kuh5CpYIxzxHkcScJ3L8JuR-wkD_qqpBgoKHVKWSQc0tLNZwbdSizKJVUXcvLacJv6zD8cm_sPiWjPSIyoKIkLDn5OJfXqdV0Uj-IcgdAd1oFnnG-a_SOhMw32bdjPrR4a3hiVe9t-osmsu2jz5tqFdXbGnIuldd_LT54ZUy-uAZoTY4Mm7HujEW-PgmzBIJOpxMF418Tx7O6cV7rT0CKae0huCALc9UbbEIUM5lD0iryWCkD_4RueQFbGzi4wTs8GeD7l5lNzvHIkulkGtSxR4y92AjxjIZcrVBx-edPBoRQbc6n6GjQAODBgmBXHGPnbNCeIwgsXmCZVQ5FlAFGbjfov6sOOhbIHxyNmOXWYEFJC6fv_CDiHHMz5x2qHScDJ5kaidVIjVToB2wJcMH-BaRHmJUYy4zBJ1UZ0q4fQ=w1574-h885-no');
    background-size: cover;
    background-position:center;
}

.background8 /*Mexico City*/  {
    background-image: url('https://lh3.googleusercontent.com/N1hVlqLtPU0PkU-KrDRbk2c9NE4GDoxUJy8xAsU0SXkIeAzYKTI6HI81zx9WRVgc22ZtjBphNTJdxRU1_QkczMBBAEY24vhezzHCg_VfHe3OYA9XMdtrEm39YD0EnjXFHDMvFIVeoToXGmz_qytnFca7-Fos7vmPnYR-iW1esnI1Q712cPMmObhwDteFeb6-hFjXQ6DQ1emprPGqA3nBmpPVtfyLw8AkcRmG2blJvzp_D5VVYRJQY99q-5aPfGzZQ_eEi_etNGvxHJZkBd6U3uhw_EdBUXJbmKe8TOKFppXuY8RpHSO8nPhCYvC3gfbuP3Bvl78UcZpMBGt_evtFTjoYRnXV_p9x49X4T0RxuGlUh_GCcXH26L71OgNDGlQ07-MgrZ1bG-aR1txSxM6w6Gu58t6Nq6lSbUkJbKIpqm4j4vCeiogzIsP0w57Y4ZNjht5oGqzTdwmIHlcX6azpjOTnpodPfOpbOLKpS25UDIhxA1wWLRQoFk7xIMYRUjyNkJ-w6PSjPidAF9RPtigbPVTwLm9tJvWnWFRbZq8lRrUP_FjS0OY_y4pY0bk5DtJ39u8cN6PSqS5nRglhOGQKmGWvK-3IH3TdlIEC9ctUr82i0KDtbX-k--blQSfn3uHVIcREnH1Y_vKMSnv1bMMRJd7QfUghJlFzsAbn80ZgxhENFPmvwj-e6w=w1157-h867-no');
    background-size: cover;
    background-position:center;
}

.background9 /*Costa Rica*/ { 
    background-image: url('https://lh3.googleusercontent.com/mBF5HaXkNwmtMHnUV6z3N9LlQVB_TNfoskBNPJ482pBTT5WBWS3pGEOP4d_Bn9fnlWk0_PrHqmIDtumIH5ThabIyV5yFmH-aclA86rBeNau2eJXttChXdZIo8WTrhD6LUR_VZoIJRJfbGt9swGtIWyC-UxIZ2wfPrCP9jLKtaTS_0H5svgK2leQ_79VMluv65y0gYGcGX8Q6-YErZqIgCu0LGy5WyrYOc2vcknbI3aEn0dIjspyucwLvnCEs6zw9zJdBziZi8aqJ6251ucqpIpG7tL7KGhZUxyoCYazO_kGYxPJFIoq-nNeXmjbeRCYxlXrx5zND5yJ5nSakONc8tyrLK8wLOOuwEE3gsT79i9TEpm7tDST1Y23UrjCUIylQxWpdPLoicTv99qm__7-qZ9HK0Za1YH71UorS15vHMvI18mDm1zhxvAvz1PwkndIoCu_Ei7WtcqIv5qI1VPcVjdDracdkfD6GXCWogpLNtjUNZ4LinS3txAoy8Zu1sdC1fyxAb7tU026wNXMmAV94MK7ywVgK9xmGs3zkw_T5v-CzXEeBlZMIFukpuxEX9vmq5lIIivcgu_tIU_crkTFZBO5daxqQv1Rl6iEkrGNE6UFOmOChZo5-AGbWTVVVpOipSOqWanTGBZb4KZV_hu8JwN_jhj9I9o9hloZvsU2lZv2F69mKMCHnKA=w1157-h867-no');
    background-size: cover;
    background-position:center;
}

.background10 /*Mexico*/ { 
    background-image: url('');
    background-size: cover;
    background-position:center;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#content {
    padding-top: 100;
    text-align: center;
    position: center;
}

.logo { 
	padding: 5px;
	float: left; 
} 

.logo img { 
	display: block; 
	width:auto; 
	max-width:20%; 
}

.img-bottompadding{
	padding-bottom: 20px;
}

.toppadding {
	padding-top: 10px;
}

.language {
    padding-top:210px;
    padding-left:1200px;
}

.card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card {
    margin-top: 20px;
    background-color: #F0F8FF;
    margin-left: 100px;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-style: solid;
    border-color: #D8D8D8;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 2px;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
}

.card-heading {
    padding: 0px 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}

.rotateimg180 {
   transform: rotate(90deg);